@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,500&display=swap');
.top-container{
    display: flex;
    flex-direction: column;
  justify-content: center; 
  align-items: center;
  /* border: 1px solid red; */
}
.top-div-image{
    /* min-width: 375px; */
    max-width: 854px;
    width: 100%;
height: 533px;
flex-shrink: 0;
margin-top: 77px;
}
.top-container .para1{
    color: #000;
    display: flex;
text-align: center;
font-size: 54px;
font-style: normal;
font-family: 'Newsreader', serif;
font-weight: 700;
line-height: 100%; 
max-width: 858px;
width: 100%;
max-height: 162px;
height: 100%;
}
.para2{
    color: #000;
text-align: center;
font-family: 'Roboto Mono', monospace;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 170%;
border: 3px solid rgb(230, 63, 91);
max-width:592px;
width: 100%;

}
.line{
    border-bottom: 3px solid black;
    margin-top: 34px;
    width: 640px;
height: 2px;
}
@media(max-width:860px){
    .top-div-image img{
        max-width: 530px;
        width: 100%;
        align-items: center;
    }
    .top-div-image {
        justify-content: center;
        text-align: center;
        height: auto;
    }
    .top-container .para1{
        font-size: 50px;
    }
}
@media(max-width:630px){
    .line{
        display: flex;
        border-bottom: 3px solid black;
        margin-top: 34px;
        max-width: 640px;
        width: 90%;
    height: 2px;
    }
}
@media(max-width:400px){
    .top-container .para1{
        font-size: 36px;
    }
    .top-container .para2{
        font-size: 16px;
    }
}
@media(max-width:321px){
    .top-container .para1{
        font-size: 36px;
    }
    .top-container .para2{
        font-size: 16px;
    }
}
