@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.card-list{
    width: 304px;
flex-shrink: 0;
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
gap: 28px;
justify-content: center;
}
.card-link{
    text-decoration: none;
    color: black;
}
.card-container h2{
    color: #000;
text-align: center;
font-family: New York Extra Large;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.card p{
    font-family: 'Inter', sans-serif;
}
.card-container{
    height: 100%;
}
@media (max-width: 860px) {
    .card-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px; 
    }
    
  }
@media(max-width:321px){
    .card-container h2{
        font-size: 32px;
    }
}